h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    /*font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;*/
    font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;
    font-size: 14px;
    line-height: 160%;
    color: #000;
    background-color: white;
    margin: 10px 13px 10px 13px;
}
table {
	margin: 10px 0 15px 0;
	border-collapse: collapse;
}
td,th {	
	border: 1px solid #ddd;
	padding: 3px 10px;
}
th {
	padding: 5px 10px;	
}

a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 110%;
}
h1 {
    margin-bottom: 22px;
    font-size: 36px;
}
h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
}
h4 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 15px;
}
h5 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h6 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
hr {
    margin: 20px 0  20px;
    line-height: 22px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 15px 20px;
    margin-bottom: 18px;
    border-left-width: 10px;
    border-left: 5px solid rgba(102,128,153,0.075);
    background-color: rgba(102,128,153,0.05);
}
blockquote:before {
    content:"";
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
}
code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #f9f2f4;
    color: #c7254e;
    padding: 2px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 12px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    /*background-color: #fff;*/
    color:#737373;
    font-size: 12px;
    padding: 0;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
ul.li{
    line-height: 160%;
}
/** {
	-webkit-print-color-adjust: exact;
}*/
/*@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:10px auto;
    }
}
@media print {
	body,code,pre code,h1,h2,h3,h4,h5,h6 {
		color: black;
	}
	table, pre {
		page-break-inside: avoid;
	}
}*/